:root
{
    --header-height: 6.0rem;

    --filter-blur: blur(6px);
}

html
{
    scroll-behavior: smooth;
}

body
{
    /* so main block can grow to fill what header/footer dont */
    display:flex;
    flex-direction: column;

    /* fill out at least the whole screen - footer should always touch bottom */
    min-height: 100vh;
}


/* ============ HEADER ============ */

header#main
{
    --space-interaction-inl: 1.2rem;
    --space-interaction-blk: 1.2rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: auto;
    transition:
        background-color var(--trans-med),
        backdrop-filter var(--trans-med),
        filter var(--trans-med),
        opacity var(--trans-med);

    &.active
    {
        background-color: var(--color-tint-dark);
        backdrop-filter: var(--filter-blur);
    }
}

header#main>.content
{
    height: var(--header-height);
    display: flex;
    align-items: stretch;
}

header#main .hamburger
{
    margin: var(--space-content);
    margin-left: auto;
    padding: var(--space-interaction-inl) var(--space-interaction-blk);
    
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);

    &.active
    {
        background-color: transparent;
        backdrop-filter: none;
    }

    span { transition-duration: var(--trans-fast); }
}

header#main nav
{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    transition:
        height var(--trans-med);
    text-align: right;
}

header#main nav .line-brk
{
    background-color: transparent;
    transition: var(--trans-med);
}

header#main nav ul
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header#main nav li
{
    position: relative;
    right: -100%;
    opacity: 0;
    transition:
        right var(--trans-med),
        opacity var(--trans-med);
    &:nth-child(1) { transition-delay: 0.2s; }
    &:nth-child(2) { transition-delay: 0.1s; }
    &:nth-child(3) { transition-delay: 0s; }
}

header#main nav a
{    
    display:block;
    color: #ddd;
    text-shadow: 0px 0px 5px black;

    &:hover
    {
        color: white;
    }
}

header#main nav.active
{
    height: 100vh;
}

header#main nav.active .line-brk
{
    background-color: var(--color-tint);
}

header#main nav.active li
{
    right: 0%;
    opacity: 1;
    &:nth-child(1) { transition-delay: 0s; }
    &:nth-child(2) { transition-delay: 0.1s; }
    &:nth-child(3) { transition-delay: 0.2s; }
}

main
{
    flex: 1;
}

.card
{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index:4;
    border-radius: calc(2 * var(--space-content));
    overflow: hidden;
    border: 1px solid var(--color-tint);
    box-shadow: var(--shadow-light-s);
}

.card-banner
{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    height: 8rem;

    &::before
    {
        content: "";
        position: absolute;
        inset: 0;
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.553), rgba(0, 0, 0, 0.142))
    }
}

.card-body
{
    flex: 1;
}

.card .text-area
{
    opacity: 0.7;
    flex:1;
    align-self: stretch;
    justify-self: stretch;
}

.card .tag
{
    background-color: var(--color-tint-dark);
}

/* ============ SECTIONS ============ */

.pagebrk
{
    display: block;
    height: 1.5rem;
    background-image:
        repeating-linear-gradient(45deg, black 0 1rem, transparent 1rem 2rem),
        var(--grad-primary);
    box-shadow: var(--shadow-dark-l);
    z-index: 3;position:relative;
}

section
{
    position:relative;
}

section#home
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-weight: bold;
}

section#home #cta
{
    margin: var(--space-sector-blk) auto;
}

section#home #quicklinks
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    position: absolute;
    left:0;
    bottom: var(--space-sector-blk);
    width: 100%;
    transition: none;
}

section#about
{
    background: var(--grad-light);
    color: black;
}

section#about article
{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

section#about article img
{
    max-height: 14rem;
    border-radius: 50cqh;
    aspect-ratio: 1;
    margin-inline: var(--space-sector-inl);
    align-self: center;
}

section#about .skill-name
{
    font-weight: bold;
    width: 30%;
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    align-self: center;
}

section#about .skill-alias
{
    align-self:center;
    font-weight: bold;
    color:white;
    text-shadow: 1px 2px 2px black;
    opacity: 0.7;
}

section#about select#skill-category
{
    display: block;
    font-weight: bold;
    border: none;
    cursor:pointer;
    border-radius: var(--space-content);
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="%23333"><path d="M5 8L0 3h10z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px;
}

@media screen and (min-width: 750px)
{
    /* ============ TABLET ============ */

    section#about article
    {
        display: flex;
        flex-direction: row;
        align-items: stretch;
gap: 0;
        div{
            flex: 1;
            position: relative;
        }
        &:nth-child(even)
        {
            flex-direction: row;

            img
            {
                margin-right: 0;
            }
        }

        &:nth-child(odd)
        {
            flex-direction: row-reverse;

            img
            {
                margin-left: 0;
            }
        }
    }
}


@media screen and (min-width: 1200px) and (pointer: fine)
{
    /* ============ DESKTOP ============ */

    :root
    {
        --trans-med: 0.2s ease-out;
        --space-interaction: calc(var(--spacing) * 0.4) calc(var(--spacing) * 0.8);
    }

    
    header#main
    {
        &:hover
        {
            /* same as .active from mobile */
            background-color: var(--color-tint-dark);
            backdrop-filter: var(--filter-blur);
        }

        &.collapse:not(:hover)
        {
            opacity: 0.0;
            filter: blur(6px);
        }
    }
    
    header#main>#header-main-content
    { }

    header#main .hamburger
    {
        display: none;
    }

    header#main nav
    {
        position: absolute;
        top: 0;
        width: 100%;
        min-height: 100%;
        transition: none;

        &::before
        {
            content: none;
            display: none;
        }
    }

    header#main nav ul
    {        
        transition: none;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }
    
    header#main nav li
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: stretch;
        right: 0;
        opacity: 1;
        transition: background-size var(--trans-med);
        transition-delay: 0.05s !important;
        background-image: linear-gradient(0deg, #ffffff1a, transparent);
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-size: 100% 0%;

        &::after
        {
            content: "";
            pointer-events: none;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 6px;
            width: 0;
            height: 2px;
            background: var(--color-tint-light);
            transition: width var(--trans-med);
        }
    }

    header#main nav li:hover
    {
        background-size: 100% 80%;

        &::after
        {
            width: calc(100% - 2 * 6px);
        }
    }

    header#main nav a
    {
        display: flex;font-size:1.5rem;
        justify-content: center;
        align-items: center;  
    }

    section#home #quicklinks
    {    
        opacity: 0.7;
        transition: opacity var(--trans-fast);

        &:hover
        {
            opacity: 1;
        }
    }
}