:root
{
    /* document colors */
    --color-bg: #191b1e;
    --color-text: #e8e8e8;
    --color-link: rgb(200,200,200);
    --color-link-active: white;
    --color-tint: rgba(20, 20, 30, 0.5);
    --color-tint-light: rgba(230, 230, 230, 0.5);

    /* design colors */
    --color-primary: rgb(46, 118, 233);
    --grad-primary: linear-gradient(135deg, #6a11cb, #1756c4);
    --color-accent: rgb(243, 149, 34);
    --grad-accent: linear-gradient(135deg, #f5f058, #fa5581);
    --color-light: rgb(238, 238, 255);
    --grad-light: linear-gradient(135deg, #f1f1f1, #bababa);
    --color-dark: rgb(17, 17, 34);
    --grad-dark: linear-gradient(135deg, #313539, #1e1f21);

    --space-sector: 2em;
    --space-content: 1.25em;
    --space-interaction-main: 1.7rem;
    --space-interaction-inline: 1.2em;
    
    --trans-fast: 0.15s ease-out;
    --trans-med: 0.45s ease-out;
    --trans-slow: 0.75s ease-out;

    --header-height: 5.5rem;

    --filter-blur: blur(6px);
}

html
{
    background-color: var(--color-bg);
    color: var(--color-text);
    scroll-behavior: smooth;
}

body
{
    /* so main block can grow to fill what header/footer dont */
    display:flex;
    flex-direction: column;

    /* fill out at least the whole screen - footer should always touch bottom */
    min-height: 100vh;
}

/* ============ MAIN LAYOUT ============ */

header#main
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    height: auto;
    transition:
        background-color var(--trans-med),
        backdrop-filter var(--trans-med),
        filter var(--trans-med),
        opacity var(--trans-med);

    &.active
    {
        background-color: var(--color-tint);
        backdrop-filter: var(--filter-blur);
    }
}

header#main>#header-main-content
{
    height: var(--header-height);
    display: flex;
    align-items: stretch;
}

header#main .hamburger
{
    padding: var(--space-interaction-main);
    margin-left: auto;
}

header#main nav
{
    position: relative;
    width: 100%;
    margin: 0 auto;
    height: 0;
    overflow: hidden;
    transition:
        height var(--trans-med);
    text-align: right;

    &::before
    {
        content: "";
        position:absolute;
        left: 1rem;
        right: 1rem;
        height: 2px;
        background: transparent;
        transition: var(--trans-med);
    }
}

header#main nav ul
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

header#main nav li
{
    position: relative;
    right: -100%;
    opacity: 0;
    transition:
        right var(--trans-med),
        opacity var(--trans-med);
    &:nth-child(1) { transition-delay: 0.25s; }
    &:nth-child(2) { transition-delay: 0.125s; }
    &:nth-child(3) { transition-delay: 0s; }
}

header#main nav a
{    
    display: block;
    padding: var(--space-interaction-main);
    font-size: 1.5em;
    color: #ddd;
    text-decoration: none;
    text-shadow: 0px 0px 5px black;

    &:hover
    {
        color: white;
    }
    
}

header#main nav.active
{
    height: 100vh;

    &::before
    {
        content:"";
        background: rgba(255,255,255,0.2);
    }
}

header#main nav.active li
{
    right: 0%;
    opacity: 1;
    &:nth-child(1) { transition-delay: 0s; }
    &:nth-child(2) { transition-delay: 0.125s; }
    &:nth-child(3) { transition-delay: 0.25s; }
}

main
{
    flex: 1;
}

/* ============ UTILITY ============ */

.content
{
    width: 100%;
    margin: 0 auto;
}

.square { aspect-ratio: 1; }

.text-gradient
{
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.grad-primary { background-image: var(--grad-primary); }
.grad-accent { background-image: var(--grad-accent); }
.grad-light { background-image: var(--grad-light); }
.grad-dark { background-image: var(--grad-dark); }

.lighter { opacity: 0.75; font-weight: 300; }

.interaction
{
    transform: scale(1);
    transition: transform var(--trans-fast);
    
    &:hover
    {
        transform: scale(1.1);
    }
}

.pill
{
    display: inline-flex;
    position: relative;
    justify-content: center;
    
    align-items: center;
    border-radius: 99999px;
    height: calc(3 * var(--space-interaction-inline));
    overflow: hidden;

    text-decoration: none;
    color: var(--color-text);

    :not(img, span, div)
    {
        margin-left: var(--space-interaction-inline);
        margin-right: var(--space-interaction-inline);
    }

    img, span, div
    {
        height: calc(100% - 6px);
        margin:3px;
    }
}

.logo
{
    background-color: rgba(203, 222, 232, 0.3);

    img#icon { display: block; }
    img#full { display: none; }
}

.hamburger
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1;
    background: transparent;
    border: none;
    padding: var(--space-interaction-inline);
    border-radius: 9999px;
}

.hamburger span
{
    /* height must be a percentage for anim to translate correctly since
    translation must be 50% of parent, but translate() is relative to self,
    so we make self ralative to parent to fix this */
    height: 5%;
    width: 100%;
    background: white;
    transition: transform var(--trans-fast), opacity var(--trans-fast);
    transform-origin: 50% 50%;
    opacity: 1;
    box-shadow: 0px 0px 5px black;
}

.hamburger.active span
{
    transform: scaleX(0);
    opacity: 0;

    &:first-child
    {
        transform:  translate(0, calc(50%*(100/5 - 1))) rotate(45deg);
        opacity: 1;
    }

    &:last-child
    {
        transform: translate(0px, calc(-50%*(100/5 - 1))) rotate(-45deg);
        opacity: 1;
    }
}

/* ============ SECTIONS ============ */

section
{
    padding: var(--space-sector) var(--space-content);
}

section#home
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
    font-weight: bold;
}

section#home #cta
{
    margin:3rem;
}

section#home #quicklinks
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    position: absolute;
    left:0;
    bottom: 4em;
    width: 100%;
    transition: none;
}


@media screen and (min-width: 750px)
{
    /* ============ TABLET ============ */

    .content
    {
        width: 750px;
    }
}

@media screen and (min-width: 1200px) and (pointer: fine)
{
    /* ============ DESKTOP ============ */

    :root
    {
        --trans-med: 0.2s ease-out;
        --space-interaction-inline: 1em;
    }

    .content
    {
        width: 1200px;
    }

    header#main
    {
        &:hover
        {
            /* same as .active from mobile */
            background-color: var(--color-tint);
            backdrop-filter: var(--filter-blur);
        }

        &.collapse:not(:hover)
        {
            opacity: 0.4;
            filter: blur(6px);
        }
    }
    
    header#main>#header-main-content
    { }

    header#main .hamburger
    {
        display: none;
    }

    header#main nav
    {
        position: absolute;
        top: 0;
        width: 100%;
        min-height: 100%;
        transition: none;

        &::before
        {
            content: none;
            display: none;
        }
    }

    header#main nav ul
    {        
        transition: none;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
        height: var(--header-height);
    }
    
    header#main nav li
    {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: stretch;
        right: 0;
        opacity: 1;
        transition: background-size var(--trans-med);
        transition-delay: 0.05s !important;
        background-image: linear-gradient(0deg, #ffffff1a, transparent);
        background-repeat: no-repeat;
        background-position-y: 100%;
        background-size: 100% 0%;

        &::after
        {
            content: "";
            pointer-events: none;
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            margin: 0 auto;
            bottom: 6px;
            width: 0;
            height: 2px;
            background: #dcedff59;
            transition: width var(--trans-med);
        }
    }

    header#main nav li:hover
    {
        background-size: 100% 80%;

        &::after
        {
            width: calc(100% - 2 * 6px);
        }
    }

    header#main nav a
    {
        display: flex;
        justify-content: center;
        align-items: center;  
    }

    .logo
    {
        background-color: rgba(203, 222, 232, 0.3);

        img#icon { display: none; }
        img#full { display: block; }
    }

    section#home #quicklinks
    {    
        opacity: 0.7;
        transition: opacity var(--trans-fast);

        &:hover
        {
            opacity: 1;
        }
    }
}